.wrapper,
html,
body {
  height: 100%;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.video-grid{
  max-width:1000px;
   display:flex;
   flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    border: 1px solid #d3d3d3;
}
.video video{
  flex-basis: 480px;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  flex-grow:1;
  margin: 0 2rem 2rem 2rem;
}